.postWrapper {
    padding-bottom: 30px;
    float: left;
    clear: both;
}
.detail-blog .postWrapper{
    padding-bottom: 0px;
}
.postWrapper .postContent > p > img,
.postWrapper .postContent > img{
    float: left;
    margin-right: 30px;
}
.yt_main_inner .postWrapper .postContent > img{
	width:25%;
}
.postTitle {
    margin-bottom: 10px;
}
#postComment h4,
.postTitle h2 {
    font-size: 133%;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-family: inherit;
}
#postComment h4{
    margin: 20px 0;
}
.postTitle h3 {
    color: #909090;
    font-size: 91.6%;
    background-image: url(../images/ico-date.png);
    background-repeat: no-repeat;
    padding-left: 16px;
    margin-top: 10px;
}
.detail-blog .postWrapper .postContent > p > img,
.detail-blog .postWrapper .postContent > img{
    float: none;
}
.detail-blog .postContent {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    float: left;
}
.detail-blog .postContent img {
    margin: 20px 0;
}
#postComment #comment{
    width: 90%;
}
#postComment .button-set{
    width: 100% !important;
}
#postComment .form-button{
    float: right;
}
.postDetails {

}

.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

.commentWrapper {
    padding-bottom: 15px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
    margin-bottom: 5px;
    padding: 0px;
}

.commentDetails h4.username {
    display: inline;
    font-family: inherit;
    font-weight: bold;
}

.postError {
    font-size: 16px;
}

.tags {
    font-weight: bold;
    padding-bottom: 10px;
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories {
    margin: 0;
}
.block-blog .menu-categories,
.menu-recent{
    margin-bottom: 20px;
}
.menu-tags h5, .menu-categories h5, .menu-recent h5 {
    font-size: 11px;
}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}
.block-blog .menu-categories UL LI ,
.block-blog .menu-recent UL LI {
    border-bottom: 1px dotted #ddd;
    padding: 7px 0;
}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {
 
}

.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {
    background-image: url(../images/icon_blog.png);
    background-repeat: no-repeat;
    padding-left: 21px;
    text-align: left;
}

.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.widget-latest li {
    font-size: 12px;
    padding: 5px 10px;
}

A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}
/*#postComment .form-list .row1{
    width: 50%;
    float: left;
}
#postComment .form-list .row1 input{
    width: 80%;
}*/
#postComment .form-list .input-box label{
    width: 10%;
    float: left;
}