<div id="yt_tablisting_106401433670551" class="yt-tab-listing first-load">
		<div class="title-text">Tin tức</div>
		<div class="respl-wrap ">
			<div class="respl-tabs-container" data-ajaxurl="http://innocms.com/tablisting/index/ajax" data-modid="ca2a7a0e58d10916992c8e445c25a4aa"><!--Begin Tabs-->
			
			
				<div class="respl-tabs-wrap">
					<ul class="respl-tabs cf blogs_links">
						<li class="respl-tab   tab-sel tab-loaded" data-type="category" config-categoryid="72,51,49" data-category-id="*" data-order-id="created_at" data-active-content=".items-category-all" data-cmspage-id="home">
							<span class="respl-tab-label">New</span>
						</li>				
					</ul>
				</div>

			</div><!-- End Tabs-->
			<div class="respl-items-container"><!--Begin Items-->
				<div class="respl-items  respl-items-selected respl-items-loaded items-category-all  respl00-4 respl01-4 respl02-4 respl03-2 respl04-1">
					<div class="respl-items-inner">
							
				

						<div class="container-slider-detail slider-tab-listing 4">
								<div id="carousel_170331433670551" class="category-products carousel slide slider-tbl slider-tabl" data-interval="0">
									<div class="carousel-control-wrap">
										<a class="carousel-control-tab prev" href="#carousel_170331433670551" role="button" data-slide="prev">
											Previous					</a>
										<a class="carousel-control-tab next" href="#carousel_170331433670551" role="button" data-slide="next">
											Next					</a>
									</div>
									<div class="carousel-inner products-grid blogs">
										
											<div class="item item-tab-listing active">
													<div class="row">
											<?php
												$posts = Mage::getModel('blog/post')->getPosts();$i=1;
												foreach ($posts as $post){													
											?>
												<?php if($i%5==0){?>
														</div></div>
													<div class="item item-tab-listing <?php if($i==1) echo "active"?>">
														<div class="row">
													<?php }?>
														<div class="sub-item respl-item" style="opacity: 1;">
															<div class="item-inner">
																<div class="product-image">
																	<a href="<?php echo "/tin-tuc/".$post->getIdentifier(); ?>" class="product-img" title="<?php echo $post->getTitle(); ?>">															 
																		<?php
																			$short = $post->getShortContent();
																			$start = strpos($short,'{{');
																			$end = strpos($short,'}}');
																			$short = substr($short,$start+13,$end-$start-14);																			
																			
																		?>
																	   <img class="small-image" src="<?php echo Mage::getBaseUrl('media').$short;?>" alt="<?php echo $post->getTitle(); ?>">															                            									
																	</a>
																								
																
																	<div class="product-info">
																		<div class="product-name">
																			<a href="<?php echo "/tin-tuc/".$post->getIdentifier(); ?>" onclick="javascript: return true" title="<?php echo $post->getTitle(); ?>">
																				<?php echo $post->getTitle(); ?>
																			</a>
																		</div>																
																	</div>
																</div>
															</div>
															
														</div>
												<?php if($i%4==0){?>
														
												<?php }?>
											<?php
											
												$i++;
											} ?>
											</div>
										</div>			
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>