<?php 
/**
 * 
 * 
 */
?>
<?php
	$_helper = $this->helper('catalog/output');
	$_product = $this->getData("product"); ?>
<div class="iteminfo sm-cartpro">	
	<div class="body-iteminfo">
		<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(80); ?>" width="80" height="80" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
		
		<h2 class="product-name">
			<span class="title-desc">Name :</span><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
		</h2>
        
	</div>
	<div class="bottom-iteminfo">
		<?php if( $this->getReviewsSummaryHtml($_product, 'short')){ ?>
		<span class="title-desc"><?php echo $this->__('Rating') ?> :</span><?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
		<?php } ?>
		<div class="price-container">
			<span class="title-desc"><?php echo $this->__('Price') ?> :</span>
			<?php echo $this->getPriceHtml($_product, true) ?>
		</div>
	</div>
</div>	