<?php
/*------------------------------------------------------------------------
 # SM Tab Listing - Version 1.0
 # Copyright (c) 2013 YouTech Company. All Rights Reserved.
 # @license - Copyrighted Commercial Software
 # Author: YouTech Company
 # Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

$smarthelper = Mage::helper('tablisting/utils');
$options  = $this->getConfigObject();
$maxtitle = $options->item_title_max_characs;
$max_des = $options->item_desc_max_characs;
$img_width = $options->item_image_width;

$img_height = $options->item_image_height;
$post     = Mage::app()->getRequest()->getPost();
 
if( (Mage::getSingleton('cms/page')->getIdentifier() == 'home-v2'  && 
Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') || (Mage::getSingleton('cms/page')->getIdentifier() == 'home-v3'  && 
Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') ) {  
	$column = 3;  //  number item in once load
    //echo $options->nb_column1;
	// $col = 4; 
	// $class_listing = 'col-lg-4 col-md-4';
} else{  
	$column = 4; 
	// $col = 3; 
	// $class_listing = 'col-lg-3 col-md-3';
} 	
if( $post ){
	$cms_page = $post['cms_page'];
	$is_ajax  = $post['is_ajax'];
	$cat_id   = $post['tab_cat_id'];
	$order_id = $post['order_id'];
	$count    = $post['ajax_tablisting_start'];
	if( $cms_page == 'home-v2' ||  $cms_page == 'home-v3') {  
		$column = 3; 
		// $col = 4; 
		// $class_listing = 'col-lg-4 col-md-4';
	}
}else{
	$is_ajax  = "";
	$cat_id   = "";
	$order_id = "";
	$count    = "";	
}

if( $is_ajax ){ 
	$type     =  $post['data_type'];
	if( $type == 'order' ){
		$child_items = $this->getProductsOrder($order_id);
	} else {
		$child_items = $this->getProducts($cat_id);
	}
}
if( !empty($child_items) ) { 
	if( $is_ajax ){
		$k = $count;
	} else {
		$k = 0;
	} ?>	
			
<?php $i=0;?>
<?php $tag_id = 'carousel_'.rand().time();?>

		<div class="container-slider-detail slider-tab-listing <?php echo $column;?>">
			<div id="<?php echo $tag_id; ?>" class="category-products carousel slide slider-tbl slider-tabl" data-interval="0">
				<div class="carousel-control-wrap">
					<a class="carousel-control-tab prev" href="#<?php echo $tag_id; ?>" role="button" data-slide="prev">
						<?php echo $this->__('Previous'); ?>
					</a>
					<a class="carousel-control-tab next" href="#<?php echo $tag_id; ?>" role="button" data-slide="next">
						<?php echo $this->__('Next'); ?>
					</a>
				</div>
				<div class="carousel-inner products-grid">
					<?php
						$_count = count($child_items);
					?>				
					<?php foreach( $child_items  as $item ){ $k++;  $i++;
						$_product = Mage::getModel('catalog/product')->load($item->id);
						$now = date("Y-m-d H:m:s");
						$newsFrom= $_product->getNewsFromDate(); //substr($_product->getData('news_from_date'),0,10);
						$newsTo= $_product->getNewsToDate();   //substr($_product->getData('news_to_date'),0,10);
						$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice();
						$price = Mage::getModel('catalog/product')->load($_product->getId())->getPrice();
						$special_from_date = $_product->getSpecialFromDate();
						$special_to_date = $_product->getSpecialToDate();
					?>
					<?php if ( $i % $column == 1 ):?>
					<div class="item item-tab-listing <?php if( $i == 1 ){echo 'active';}?>">
						<div class="row">
					<?php endif;?>
						
						<!-- <div class="col<?php //echo $class_listing;?> col-sm-6 col-xs-12 sub-item respl-item"> -->
						<div class="sub-item respl-item">
							<div class="item-inner">
								<div class="product-image">
									<a href="<?php echo $_product->getProductUrl() ?>" class="product-img" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
									<?php 							
									if($_product->getThumbnail() != $_product->getSmallImage()) { ?> 
		                               <img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($img_width,$img_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
		                               <img class="thumnail-image image-hover" src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($img_width,$img_height) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" />                         	<?php } else { ?>
		                           		<img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($img_width,$img_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
		                           <?php } ?>
									</a>
									<?php if ( $now>=$newsFrom && $now<=$newsTo ){ ?>
										<span class="new-product have-ico"><?php echo $this->__('New'); ?></span>
									<?php }
		                            if ( $specialprice ){ ?>
										<span class="sale-product have-ico"><?php echo $this->__('Sale'); ?></span>
									<?php } ?>							
								</div>
								<div class="product-info">
									<?php if( $options->item_title_display == 1 ){?>
									<div class="product-name">
										<a href="<?php echo $item->link ?>" <?php echo $smarthelper->getTargetAttr($options->product_links_target);?> onclick="javascript: return true"  title="<?php echo $item->title?>" >
											<?php echo $_product->getName(); ?>
										</a>
									</div>									
									<?php } ?>
									
									<?php if( $options->item_review_disp == 1 ) {?>
										<div class="product-review">
											<?php echo $item->review_html; ?>
										</div>
									<?php }?>
									
									<?php if( $options->item_price_disp == 1 ) {	?>
										<div class="product-price">
											  <?php //echo $item->price_html; ?>
											  <?php echo $this->getPriceHtml($_product, false, '_b') ?>
										</div>
										<?php }?>
										
									<?php if( $options->item_desc_display == 1 ) {?>
									<div class="item-desc">
										<?php echo substr($item->description,0,$max_des);?>
									</div>
									<?php }?>
									
									<div class="product-addto-wrap">
										<div class="button-action item-addcart">
											
											<?php if( $options->item_cart_disp == 1 ) {?>
										
												<div class="product-addcart">
													<?php if($_product->isSaleable()): ?>
														<?php if( $_product->getTypeId() == 'configurable' ){ ?>
															<a class="btn-cart" title="<?php echo $this->__('Add to cart') ?>" href="<?php echo $item->link ?>">
																<?php echo $this->__('Add to Cart') ?>
															</a>
														<?php }else{ ?>
				                                        <a class="btn-cart" title="<?php echo $this->__('Add to cart') ?>" href="javascript:void(0);" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
				                                            <?php echo $this->__('Add to Cart') ?>
				                                        </a>
														<?php } ?>
													<?php else: ?>
													<p class="availability out-of-stock">
														<span><?php echo $this->__('Out of stock') ?> </span>
													</p>
													<?php endif; ?>								
												</div>																															
											<?php } ?>
											<div class="wishlist-compare">												
												<?php if ( $this->helper('wishlist')->isAllow() ) : ?>
												<a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist">
													<?php echo $this->__('Add to Wishlist') ?>
												</a>
												<?php endif; ?>
												<?php if( $options->item_compare_disp == 1 && $_compareUrl=$this->getAddToCompareUrl($_product)){ ?>                    						
												<a class="link-compare" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare'); ?>">
													<?php echo $this->__('Add to Compare') ?>
												</a>							
												<?php } ?>												
											</div>
											
										</div>
									</div>						
								</div>
							</div>
							
						</div>
						
					<?php if ( $i % $column == 0 || $i == $_count ):?>
						</div>					
					</div>
					<?php endif; }; ?>
				</div>
			</div>
		</div>

<?php }?>
