<?php  $collection = Mage::getModel('shopbybrand/shopbybrand')->getCollection();?>
<?php $divid = 'jm-contain-'.rand().rand().time().'brand';?>



<?php if(!defined('JM_ADD_SKIN_PRODUCTS_SILDER')){?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jcarousellite_1.0.1.js') ?>"></script>
<?php  define('JM_ADD_SKIN_PRODUCTS_SILDER', true); ?>
<?php }?>

<script type="text/javascript">
	jQuery.noConflict();
	  jQuery(document).ready(function($){
	    $("#<?php echo $divid?>").jCarouselLite({
			auto: <?php echo 1;//$configs['autorun']?>,
			speed: 			<?php echo 4000;//$configs['animationtime']?>,
			pause:			<?php echo $configs['delaytime']?>,				
			visible: 		<?php echo $configs['number_items']?>,
			btnNext: ".jm-next-brand",
			btnPrev: ".jm-prev-brand",
			width: <?php echo $configs['number_items']*(164); ?>,
			width_img: <?php echo $configs['width']+45; ?>	
		});
	  });

	
</script>
<?php //echo Mage::helper('shopbybrand')->getAttributeLabel('3','manufacturer');?>
<div class="container">
	<div class="row">
	<div  id="carouselslide" class="jm-products-slider-listing col-xs-12">
	  <div class="carouimg  clearfix"> 
		
		<div class="jm-next-brand">
			<img id="jm-slide-right-img" title="Right direction" onmouseout="this.src='<?php echo $this->getSkinUrl('images/next-brand-button.png') ?>'" onmouseover="this.src='<?php echo $this->getSkinUrl('images/next-brand-button.png') ?>'" alt="Right direction" src="<?php echo $this->getSkinUrl('images/next-brand-button.png') ?>"/>
		</div>
		<div id="<?php echo $divid?>" class="jm-slider">
		  <ul class="jm-slider-ul" >
				<?php foreach ($collection as $item) {?>
					   <li class="jm-slider-li " style="float: left;width:150px;height:80px">
						<div style="float:left;">
						<?php $brandName=Mage::helper('shopbybrand')->getAttributeLabel($item['title'],'manufacturer');$brandName=str_replace(" ","_",$brandName);?>
						<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'brand/'.$brandName.'.html';?>">
						<img src="<?php echo Mage::getBaseUrl('media')."Brands/images/thumb/".$item['filename']?>" style="height:60px !important;"  />
						</a>
						</div>
						</li> 
				 <?php   }?>
				
		  </ul>   
		</div>
		<div class="jm-prev-brand">  
			<img id="jm-slide-left-img" title="Left direction" onmouseout="this.src='<?php echo $this->getSkinUrl('images/prev-brand-button.png') ?>'" onmouseover="this.src='<?php echo $this->getSkinUrl('images/prev-brand-button.png') ?>'" alt="Left direction" src="<?php echo $this->getSkinUrl('images/prev-brand-button.png') ?>"/>
		</div>
	  </div>
	</div>   
	</div> 
</div>
 