<div class="shopbybrand">
<h2 class="title-shopbybrand"><?php echo $this->getManufacturer();?> </h2>
<p>We have a massive range of products manufactured by brands such as 151 Products, Pan Aroma, Duzzit, Arty Crafty, Car Pride, Cotton Tree and many more. We have created this section for customers who prefer to shop by brand. You can browse
and shop for a whole range of household goods, DIY tools, Toys and other wholesale products for your outlet. Stock is updated on a regular basis so once you have registered please feel free to visit us regularly.</p>
<?php echo $this->getChildHtml('shopbybrand') ?>
<div>