/**
 * @package SM Dynamic Slideshow 
 * @version 2.0.0
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 * @copyright Copyright (c) 2014 YouTech Company. All Rights Reserved.
 * @author YouTech Company http://www.magentech.com
 */
 
.slide_layers {
  border-width: 1px;
  border-style: solid;
  border-color: #aaa #c8c8c8 #c8c8c8 #aaa;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  background-size: cover;
  margin-bottom: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide_layers.trans_bg {
  background-image: url(../images/trans_tile2.png) !important;
  background-repeat: repeat !important;
  background-size: cover;
  background-size: auto !important;
}

.slide_layer.hide {
  display: none;
}

.slide_layer .slide_layer_video {
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center center;
  background-size: cover;
  color: #ccc;
  text-align: center;
}

.form-list td.value textarea {
  height: 8em;
}

.slide_layer {
  cursor: move;
  white-space: nowrap;
  position: absolute;
}

.slide_layer.selected {
  box-shadow: 0 0 8px #66afe9;
  -webkit-box-shadow: 0 0 8px #66afe9;
  -moz-box-shadow: 0 0 8px #66afe9;
}

.slide_layer.layer-video.selected,.slide_layer.layer-img.selected {
  line-height: 0;
}

.fieldset.no-spacing {
  border: 0;
  padding: 0;
  background: none;
}

.right-fieldset {
  float: right;
  width: 49%;
}

.left-fieldset {
  float: left;
  width: 50%;
}

#timeline {
  background: url(../images/timeline.png) repeat-x;
  height: 15px;
  width: 902px;
  margin: 5px 0 20px 4px;
  position: relative;
}

.ui-slider-horizontal .ui-slider-handle {
  width: 15px;
  height: 15px;
  position: absolute;
  cursor: move;
  margin: -2px 0 0 -4px;
  z-index: 1;
  top: 0px;
  background-color: #ed6502;
}

.handle.end {
  background-color: #ED6502;
}

#timeline .ui-slider-range {
  display: inline-block;
  height: 3px;
  background: #dd6100;
  position: absolute;
  top: 4px;
  opacity: .7;
  filter: alpha(opacity=70);
}

#timeline .min {
  float: left;
  font-size: 10px;
  margin-top: 15px;
  display: inline-block;
}

#timeline .max {
  float: right;
  font-size: 10px;
  margin-top: 15px;
  display: inline-block;
}

.control {
  margin-bottom: 10px;
}

.control p {
  font-weight: bold;
}

.control div {
  margin-bottom: 10px;
}

.control .align span {
  width: 75px;
  display: inline-block;
}

.control label {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.control label input {
  margin-left: 5px;
}

.half {
  width: 49%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.video_title {
  font-weight: bold;
}

#videoView {
  text-align: center;
}

#videoView p {
}

input.input-small {
  width: 60px;
}

input.input-wide {
  width: 70%;
}

#layers_fieldset td.label label {
  display: inline;
}

#layers_fieldset td.label {
  width: 80px;
}

button.normal {
  border-color: #CCC #AAA #AAA #CCC;
  background-color: #FFF;
  background-image: url(../images/btn_back_bg.gif);
  color: #555;
}

#button_sort_visibility.btn-hide-all.e-disabled {
  background: url("../../images/btn_bg.gif") repeat-x scroll 0 0 / 100% 100% #ed6502;
  border-color: #ed6502 #a04300 #a04300 #ed6502;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
  font: bold 12px arial,helvetica,sans-serif;
  text-align: center !important;
  white-space: nowrap;
}

#button_sort_visibility.btn-hide-all.e-disabled:hover {
  background: url("../../images/btn_over_bg.gif") repeat-x scroll 0 0 #f77c16;
}

button.normal span {
  font-weight: bold;
}

button[class^="layer-"] span,button[class*=" layer-"] span {
  padding-left: 20px;
}

button.layer-text span {
  background-image: url(../images/text_allcaps.png);
}

button.layer-image span {
  background-image: url(../images/photo.png);
}

button.layer-video span {
  background-image: url(../images/film.png);
}

button.layer-dup span {
  background-image: url(../images/page_copy.png);
}

button.layer-edit span {
  background-image: url(../images/pencil.png);
}

.clearfix {
  clear: both;
}

.reset {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  visibility: visible !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.animation_preview_target {
  background: #ED6502;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
}

#animation_control {
  position: absolute;
  bottom: -1px;
  right: -1px;
  background-color: #fff;
  width: 21px;
  height: 21px;
}

#animation_control .ico {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  background: url(../images/control_play_blue.png) no-repeat;
}

#animation_control .on {
  background: url(../images/control_pause_blue.png) no-repeat;
}

.anim-slider {
  height: 150px;
  width: 1px;
  position: relative;
  background: #ccc;
  display: block;
}

.anim-slider .ui-slider-handle {
  height: 15px;
  width: 11px;
  left: -5px;
  position: absolute;
  background: red;
  cursor: pointer;
}

.anim-slider .anim-value {
  position: absolute;
  width: 50px;
  left: -28px;
  bottom: -30px;
  text-align: center;
}

.anim-value.validation-failed {
  border: 1px dashed #D6340E;
}

.anim-slider .validation-advice {
  display: none;
}

.anim-wrapper .anim-label {
  position: absolute;
  bottom: -50px;
  left: 0px;
  font-size: 10px;
}

.anim-wrapper {
  position: relative;
  float: left;
}

.popup-half-fieldset table.form-list td.label,.popup-half-fieldset table.form-list td.label label {
  width: 80px;
}

.css-slider {
  height: 1px;
  background: #ccc;
  margin: 10px 0;
  width: 280px;
}

.css-slider .ui-slider-handle {
  background: #09C;
  top: -7px;
  cursor: pointer;
  width: auto;
  padding: 0 4px;
  color: #fff;
  line-height: 14px;
  height: 15px;
  text-decoration: none;
  font-size: 11px;
}

.css-slider .ui-slider-range {
  background: #09C;
}

.css-slider-wrapper {
  margin: 20px 0;
  width: 280px;
}

.entry-edit-head {
  clear: both;
}

td.value label.inline {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 3px;
}

select.disabled {
  background: #eee;
}

#right_fieldset {
  float: right;
  width: 49%;
}

#left_fieldset {
  float: left;
  width: 50%;
}

#right_fieldset .entry-edit-head {
  margin: 1px 0 0 0;
}

#right_fieldset .form-buttons {
  margin: 0;
}

#right_fieldset .form-buttons button {
  padding: 1px 7px;
}

#layer_time_fieldset #listLayers {
  min-height: 200px;
}

.smdnsl-heading {
  border: 10px;
  background: none repeat scroll 0 0 #6F8992;
  font-weight: bold;
  padding: 3px;
  margin: 5px 0 5px 5px;
  color: #FFF;
  text-align: center;
  width: 480px;
}

.smdnsl-layer-btn {
  margin: 10px 0 5px;
}

#smdnsl_sliders_form input[type="radio"] {
  vertical-align: -2px;
  margin-right: 5px;
}

#smdnsl_sliders_tabs i {
  margin-right: 5px;
  width: 20px;
  text-align: center;
}

#smdnsl_sliders_form i {
  margin-right: 5px;
  font-size: 14px;
}

#google_font i {
  margin: 0;
}

#google_font_container td {
  text-align: right;
}

#smdnsl_slides_tabs i,#smdnsl_slides_form i {
  font-size: 14px;
  margin-right: 5px;
  vertical-align: middle;
}

#button_sort_visibility.scalable span span span {
  background: none!important;
  cursor: pointer;
  display: inline-block !important;
  margin: 0;
  text-indent: 0;
  width: 20px;
}

#button_sort_visibility.scalable span span span i {
  margin: 0;
}

#button_sort_visibility.btn-hide-all.e-disabled {
  border-color: #ed6502 #a04300 #a04300 #ed6502;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
  font: bold 12px arial,helvetica,sans-serif;
  text-align: center !important;
  white-space: nowrap;
}

#button_sort_visibility.scalable.e-disabled span span span {
  background: none!important;
}

#listLayers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#listLayers .validation-advice {
  display: none;
}

#listLayers .validation-failed {
  background-color: red;
}

#listLayers .item.selected {
  background: #ed6502 url(../images/btn_bg.gif) repeat-x;
  background-size: 100% 100%;
  border-color: #ed6502;
}

#listLayers .item {
  border: 1px solid #999;
  background: #d7e5ef;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 5px;
  margin-bottom: 3px;
  cursor: move;
}

#listLayers .item .name {
  overflow: hidden;
  width: 60%;
  white-space: nowrap;
  float: left;
  text-overflow: ellipsis;
}

#listLayers .item .right {
  float: right;
}

#listLayers .item.hide {
  background: #ccc;
}

#listLayers .item input.fade {
  opacity: .5;
  filter: alpha(opacity=50);
}

#listLayers .item .time {
  text-align: right;
}

#listLayers .item .time,#listLayers .item .order {
  width: 50px;
  margin: 0 3px 2px 0;
}

#listLayers .item span.eye,#listLayers .item.hide.selectedspan.eye {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin: 0;
  width: 25px;
  color: #ed6502;
  text-align: center;
}

#listLayers .item.selected span.eye {
  color: #FFF;
}

#listLayers .item span.eye i {
  font-size: 14px;
}

#listLayers .item span.arrow,#listLayers .item.hide.selectedspan.arrow {
  float: left;
  margin-right: 5px;
  color: #ed6502;
}

#listLayers .item.selected span.arrow {
  color: #FFF;
}

#listLayers .item span.arrow i {
  font-size: 12px;
}

.layer_animation_preview_wrapper {
  width: 100%;
  height: 200px;
  background: transparent url(../images/trans_tile2.png) repeat;
  position: relative;
  overflow: hidden;
}

#layer_animation_preview {
  width: 579px;
}

.css_preview_wrapper {
  margin-bottom: 10px;
  padding: 10px 0;
  height: auto;
  text-align: center;
}

#css_preview {
  display: inline-block;
}

#slides_grid_table tbody td {
  vertical-align: middle;
  text-align: center;
}

#slides_grid_table tbody td .editable {
  background: #999999;
}